
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
}

button:hover{
    cursor: pointer;
}

.pageTitle{
    color:  rgb(56, 144, 189);
    font-size: 3em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(117, 117, 117);
    text-align: center;
}

.moviesIn{
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.moviesInput{
    font-size: 1.4em;
}

.moviesButton{
    font-size: 1.4em;
}

.userAllMovies{
    border: 1px solid rgb(105, 105, 105);
    background: rgb(210, 214, 216);
    padding: 4px;
    margin-top: 20px;   
}

.userAllMovies > div{
    display: inline-block;
}

.userMovieCn{
    border: 1px solid rgb(168, 168, 168);
    display: inline-block;
    padding: 3px 12px 3px 12px;
    position: relative;
    background: white;
    margin-right: 4px;
    margin-bottom: 2px;
}

.userMovieCross{
    float: right;
    position: absolute;
    right: 1px;
    top: 1px;
    font-size: 0.9em;
    color: grey;
}

.userMovieCross:hover{
    color: red;
    cursor: pointer;
}

.userMovieName{
    font-size: 1.2em;
}

.movieSearchSec{
    width: 90%;
    margin: 0 auto;
}

.radioSearchButtons{
    float: right;
    padding: 4px;
    border: 1px solid rgb(105, 105, 105);
    background: rgb(56, 144, 189);
    border-top: none;
    color: white;
}

.radBut{
    color: orange;
}

.radBut:hover{
    cursor: pointer;
}

.searchButton{
    font-size: 1.2em;
    border-radius: 2px;
    margin-left: 14px;
}

.radText{
    display: inline-block;
}

.redBorder{
    border: 1px solid rgb(230, 66, 66);
    background: rgb(231, 222, 222);
}


.pmHidden{
    display: none;
}