<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pick My Movie</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="styles/mainSty.css">
</head>
<body>

    <div id="vApp" class="vApp">
        <div class="pageTitle">{{ pageTitle }}</div>
        <div class="moviesIn">
            <input class="moviesInput" v-on:keyup.enter="addFilmFunc" placeholder="Enter film.." v-model="userMovieInput" type="text">
            <button class="moviesButton" v-on:click="addFilmFunc">{{ buttonTxt }}</button>
        </div>
        <div class="userAllMovies pmHidden">
            <div v-for="movie in userMovies"> 
                <div class="userMovieCn"> 
                    <div class="userMovieName">{{ movie }}</div> 
                    <div class="userMovieCross" v-on:mouseover="crossMOver" v-on:mouseout="crossMOff">&times;</div>
                </div> 
            </div>
        </div>
    </div>
    

    <script src="scripts/mainScr.js"></script>

</body>
</html>